*{
    padding:0;
    margin:0;
};

#Lista{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

.ITENS_LOJA{
   display:flex;
   border-width:10px;
   flex-direction:column;
   justify-content: center;
   float:left;
   width:20%;
   display:block;
   border:10%;
   border:solid pink 3px;
    font-size:21px;
    border-radius:15px;
    text-align:center;
   align-items:center;
   

}
#Titulo{
    display:flex;
    justify-content: center;
    font-size:48px;
    font-family:Comis Sans MS;
   
}